.pane-bundle-accordion {

  .pane-content {
    margin-top: 48px;
  }

}

.accordion-title {
  background-color: #EFEFEF;
  border-bottom: 1px solid #E0E0E0;
  color: #212121;
  letter-spacing: 2px;
  margin: 0;
  padding: 1.5rem;
  -moz-transition: background-color 0.5s ease-in-out;
  -webkit-transition: background-color 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out;

  &:before {
    content: "+";
    color: #aaa;
    font-size: 1.5rem;
    line-height: 1.25rem;
    float: left;
    margin-right: 0.5rem;
    -moz-transition: -moz-transform 0.3s ease-in-out;
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out;
  }

}

.accordion-title.open {
  background-color: #DDD;

  &:before {
    -webkit-transform: rotate(-225deg);
    -moz-transform: rotate(-225deg);
    -webkit-transform: rotate(-225deg);
  }

}


.accordion-body {
  background-color: #FBFBFB;
  padding: 1.5rem;
}
