blockquote {
  font-family: "garamond-premier-pro";
  font-size: 21px;
  color: black;
  font-style: italic;
  margin: auto auto 1.5em;
  padding: 1.5rem;
  background: #d8f3f3;
  font-family: "ff-tisa-web-pro";
  margin-left: -1.5rem;
  margin-right: -1.5rem;
  background: #f1faea;
}
