.not-front {

  #header {
    @extend %clearfix;
    background-color: black;
    height: scut-rem(78px);
    padding: 0;

    background:
    /* top, transparent black */
    linear-gradient(
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.5)
    ),
    /* bottom, image */
    url(/sites/all/themes/royce/images/royce-arch.jpg);

    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;

    @include breakpoint($lapish) {

    }

    @include breakpoint($deskish) {
      position: relative;
      width: 100%;
      z-index: 1;
    }

    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;


  }

}


.panel-layout--royce-top-content-left {

  #header {
    position: absolute;
    width: 100%;
    z-index: 1;
    background-image: none;
    background:
    /* top, transparent black */
    linear-gradient(
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.6)
    );
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;

    @include breakpoint($lapish) {}

    @include breakpoint($deskish) {}

    @include breakpoint($deskwideish) {}

  }

}

#header.header--is-hidden {
  position: absolute;
  width: 100%;
  z-index: 1;
  background-image: none;
  background:
  /* top, transparent black */
  linear-gradient(
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.5)
  );
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;

  @include breakpoint($lapish) {}

  @include breakpoint($deskish) {}

  @include breakpoint($deskwideish) {}

}
