.royce-homepage__section {

  h2.pane-title {
    font-weight: normal;
  }

}

.update-image {
  -webkit-box-shadow: rgba(0, 0, 0, 0.21) 0px 0px 12px -2px;
          box-shadow: rgba(0, 0, 0, 0.21) 0px 0px 12px -2px;
  width: 100%;
}


.front .panel-pane {
  margin-bottom: 0;
}
