.logo {

  @include grid-span(3, 1, 4, 0);

  @include breakpoint($lapish) {
    @include grid-span(2, 1, 4, 0);
  }

  @include breakpoint($deskish) {
    @include grid-span(3, 1, 12, 0);
  }

  @include breakpoint($deskwideish) {
    @include grid-span(3, 1, 12, 0);
  }

  @include scut-vcenter-td(".logo-inside");
  height: scut-rem(78px);

  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;

  .logo-inside {
    padding-right: 12px;
  }

  img {
    max-height: 54px;
  }

}
