.view-mixitup-test {

  .miu_controls, .filters_wrapper {
    color: #aaa;
    padding: 0;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;

    label {
      font-weight: 300;
      margin: 0 .4em 0 0;
    }

    button {
      display: inline-block;
      padding: .4em .8em;
      background: #666;
      border: 0;
      color: #ddd;
      font-size: 16px;
      font-weight: 300;
      border-radius: 4px;
      cursor: pointer;
    }

    button.active {
      background: #68b8c4;
    }

    button:focus {
      outline: 0 none;
    }

    button + label{
      margin-left: 1em;
    }

    .form-type-checkboxes {
      margin: 0;
      width: 100%;
      text-align: center;
      padding: 24px;
    }

  }

}

.miu_container {
  padding: 2% 2% 0;
  text-align: justify;
  font-size: 0.1px;
  // background: #68b8c4;
  
  -webkit-backface-visibility: hidden;
}

.miu_container:after{
  content: '';
  display: inline-block;
  width: 100%;
}

.miu_container .mix,
.miu_container .gap {
  display: inline-block;
  font-size: 16px;
  width: 49%;
}

.miu_container .mix {
  text-align: left;
  background: #efefef;
  margin-bottom: 2%;
  // display: none;
  font-size: 16px;
  vertical-align: text-top;

  a, a:visited {
    color: #fff;
  }
  a:hover {
    color: #fff;
  }

}

.miu_container .mix.category-1{
  border-top: 2px solid limegreen;
}

.miu_container .mix.category-2{
  border-top: 2px solid yellow;
}

.miu_container .mix:after{
  content: attr(data-myorder);
  color: white;
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
  padding: 4% 6%;
  font-weight: 700;
}

.miu_container .mix:before{
  content: '';
  display: inline-block;
  // padding-top: 60%;
}

@media all and (min-width: 420px){
  .miu_container .mix,
  .miu_container .gap{
    width: 32%;
  }
}

@media all and (min-width: 640px){
  .miu_container .mix,
  .miu_container .gap{
    width: 23.5%;
  }
}


.mix_item--inside {
  padding: 16px;
  vertical-align: top;
  position: relative;
}

.mixitup_views_filter {
  /* Checkbox Hack */
  input[type=checkbox] {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  label { 
    display: inline-block;
    margin: 60px 0 10px 0;
    cursor: pointer;

    padding: .4em .8em;
    background: #666;
    border: 0;
    color: #ddd;
    font-size: 16px;
    font-weight: 300;
    border-radius: 4px;
  }
  input[type=checkbox]:checked + label {
    background: #77c337;
  }

  #reset {
    position: absolute;
    margin-top: 0.4em;
    margin-bottom: 0.4em;
    display: inline;
    cursor: pointer;
    padding: 0.4em 0.8em;
    border: 0px;
    color: rgb(221, 221, 221);
    font-size: 16px;
    font-weight: 300;
    border-radius: 4px;
    background: rgb(102, 102, 102);
  }

}

.form-checkboxes.mixitup_views_filter .form-item, .form-radios .form-item {
  display: inline-block;
} 















.wrapper--digital-artifacts {
  background-color: ghostwhite;

  .l-container {
    padding: 72px 0;
  }

  h1, h2 {
    margin-top: 0;
    text-align: center;
  }

}

.form-item-filter-3-.tid-35 {
  label {
    background-color: #3F9A57;
  }
}

.form-item-filter-3-.tid-34 {
  label {
    background-color: #3F749A;
  }  
}

.form-item-filter-3-.tid-39 {
  label {
    background-color: #9A3F97;
  }
}

.form-item-filter-3-.tid-37 {
  label {
    background-color: #E9EC1C;
    color: black;
  }
}

.field-digital-artifact-video {
  position: relative;

  .colorbox {
    display: block;
  }

  svg {
    position: absolute;
  }

}