.block-search-by-page {

  display: none;

  @include breakpoint($deskish) {
    display: block;
    @include grid-span(3, 10, 12, 0);
  }

  @include breakpoint($deskwideish) {
    @include grid-span(3, 10, 12, 0);
  }

  .container {
    padding-left: 12px;
  }

  .search-by-page-form > div {
    display: table;
    height: 5rem;

    .container {
      display: table-cell;
      vertical-align: middle;
    }

  }

  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;

  h2, label {
    display: none;
  }

  .form-item {
    margin-top: 0;
    margin-bottom: 0;
    display: inline-block;
    width: 63%;
  }

  .form-text {
    padding: .25em .6em;
    border: 1px solid #000;
    box-shadow: inset 0 1px 3px #000;
  }

  .form-submit {
    padding: 6px;
    margin-left: 3%;
    width: 30%;
  }


}


.page-search-roycemore {

  .wrapper--main {
    margin: 0 auto;
    max-width: 90%;
    @include breakpoint($deskish) {
      max-width: 52rem;
    }
  }

  h2 {
    margin: 24px 0 0;
  }
  .search_by_page-results {
    margin: 24px 0 48px;
    padding: 0;
  }
}




