////////////////////////
// Design Partials
//
// Separate your Layout from Design
// Build sub folders and partials in this folder, with everything being imported, in cascading order, into this file.
//
// All styling, non box model properties go here
////////////////////////

// @import 'codrops';


.royce-inside-right__column2 {

  .royce-inside-right__inner {
//    padding-right: 48px;
  }

  .field-basic-image-image {
//    margin-bottom: 48px;

    h2 {
//      margin-bottom: 24px;
    }

  }

  .pane-bundle-text {
//    margin-bottom: 48px;

    h2 {
//      margin-bottom: 24px;
    }

  }

}

.royce-inside-right__column1 {

  .royce-inside-right__inner {
//    padding-right: 24px;
  }

  .pane-bundle-text {
//    background-color: #efefef;
    // background: rgba(119, 195, 55, 0.1);
//    padding: 24px;
  }

}

.item-list ul {
  margin: 0;
}
.item-list ul li {
  margin: 0;
}

.pane-fpid-177.pane--padded {
  padding: 1rem;
}


.pane-blog-panel-pane-2 {
  min-height: 228px;
}

.view-display-id-panel_pane_2 {

  .view-header {
    h2 {
      font-size: 21px;
      margin-bottom: 12px;
    }
  }

}

.blog-hp-post {
  margin-bottom: 1rem;

  &:last-child {
    margin-bottom: 0;
  }

  .blog-hp-post__title {
    font-size: 15px;
    line-height: 16px;
  }

  .blog-hp-post__author {
    color: #AAA;
    font-size: 13px;
    line-height: 15px;
  }

}

