////////////////////////
// Design Partials
//
// Separate your Layout from Design
// Build sub folders and partials in this folder, with everything being imported, in cascading order, into this file.
//
// All styling, non box model properties go here
////////////////////////

// @import 'codrops';


.field-slide-text {

  @extend .light-on-dark;

  color: #FFF;
  background: $brand-blue;
  background: rgba($brand-blue, 0.8);
  padding: 24px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;

  @include breakpoint($lapish) {
    position: absolute;
    bottom: 2rem;
    right: 0;
    max-width: 24rem;
    padding: 24px;
  }

}

.event-item {
  @extend %clearfix;
  background-color: rgba(255, 255, 255, 0.7);
  line-height: 1rem;
  margin-bottom: 0.75rem;
  padding: 0;
}

.event__date {
  width: 30%;
  float: left;
  text-align: right;
  margin-right: 5%;
  padding: 12px 0 12px 12px;
}

.event__month-day {
  padding: 0;
  font-size: $milli-size;
  line-height: 1rem;
}

.event__info {
  width: 65%;
  float: right;
  padding: 0.75rem;
}

.pane-calendar-panel-pane-1 .view-footer {

  a {
    float: right;
  }

}



.royce-homepage__section {

  h2.pane-title {
    font-weight: normal;
  }

}



.royce-inside-right__column2 {

  .royce-inside-right__inner {
    padding-right: 48px;
  }

  .field-basic-image-image {
    margin-bottom: 48px;

    h2 {
      margin-bottom: 24px;
    }

  }

  .pane-bundle-text {
    margin-bottom: 48px;

    h2 {
      margin-bottom: 24px;
    }

    blockquote {
      font-family: "garamond-premier-pro";
      font-size: 21px;
      color: black;
      font-style: italic;
      margin: auto auto 1.5em;
      padding: 1.5rem;
      background: #d8f3f3;
      font-family: "ff-tisa-web-pro";
      margin-left: -1.5rem;
      margin-right: -1.5rem;
      background: #f1faea;
    }

  }

}

.royce-inside-right__column1 {

  .royce-inside-right__inner {
    padding-right: 24px;
  }

  .pane-bundle-text {
    background-color: #efefef;
    // background: rgba(119, 195, 55, 0.1);
    padding: 24px;
  }

}

















.not-front {

  #header {
    @extend %clearfix;
    background-color: black;
    height: scut-rem(78px);
    padding: 0;

    background:
    /* top, transparent black */
    linear-gradient(
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.5)
    ),
    /* bottom, image */
    url(/sites/all/themes/royce/images/royce-arch.jpg);

    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;

    @include breakpoint($lapish) {

    }

    @include breakpoint($deskish) {
      position: relative;
      width: 100%;
      z-index: 1;
    }

    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;


  }

}

.panel-layout--royce-top-content-left {

  #header {

      position: absolute;
      width: 100%;
      z-index: 1;

    background-image: none;

    background:
    /* top, transparent black */
    linear-gradient(
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.6)
    );

    @include breakpoint($lapish) {

    }

    @include breakpoint($deskish) {
      position: absolute;
      width: 100%;
      z-index: 1;
    }

    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;

  }

}

  #header.header--is-hidden {

      position: absolute;
      width: 100%;
      z-index: 1;

    background-image: none;

    background:
    /* top, transparent black */
    linear-gradient(
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.5)
    );

    @include breakpoint($lapish) {

    }

    @include breakpoint($deskish) {
      position: absolute;
      width: 100%;
      z-index: 1;
    }

    @include breakpoint($deskwideish) {
      // display: none;
    }

    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;


  }


.not-front .wrapper--main {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.not-front .wrapper--main.royce-top-content-left {
  padding-top: 0;
  padding-bottom: 0;
}


.logo {

  @include grid-span(3, 1, 4);

  @include breakpoint($lapish) {
    @include grid-span(2, 1, 4);
  }

  @include breakpoint($deskish) {
    @include grid-span(3, 1);
  }

  @include breakpoint($deskwideish) {
    @include grid-span(4, 1);
  }

  @include scut-vcenter-td(".logo-inside");
  height: scut-rem(78px);

  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;

}



.block-superfish {

  @include grid-span(1, 4, 4);
  @include scut-vcenter-td(".content");
  height: scut-rem(78px);

  @include breakpoint($lapish) {

  }

  @include breakpoint($deskish) {
    @include grid-span(9, 4);
    display: block;
  }

  @include breakpoint($deskwideish) {
    @include grid-span(8, 5);
  }

  .content {
    @extend %clearfix;
    padding: 0;
  }

  .sf-horizontal {
    @extend %clearfix;
    padding: 0;
    display: table;
    width: 100%;
  }

  ul.menu li {
    padding: 0;
    margin: 0;
  }
  .sf-menu li {

  }

  .sf-depth-1 {
    color: white;
    display: table-cell;
    float: none;
    height: scut-rem(78px);
    line-height: scut-rem(78px);
    text-align: center;
    width: 16.666666667%;

    &:hover {
      background: $brand-green;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
    }

    ul {
      background: $brand-green;
      padding: 24px;
    }

  }

  .sf-depth-2 {
    line-height: scut-rem(36px);
    background: $brand-green;
    color: white;
    text-align: left;
  }

  a.sf-depth-2.active {
    color: white;
    color: rgba(0,0,0,0.4);
  }

  a:hover.sf-depth-2 {
    color: white;
    color: rgba(0,0,0,0.4);
  }

}

.ff-pos {
  position:relative;
}

.sf-menu li:hover > div.ff-pos ul,
.sf-menu li.sfHover > div.ff-pos ul {
  left: 0;
  top: 0;
}


.block-superfish > .content {

  @include breakpoint($deskish) {
    display: block;
  }

}




.flexslider .slides > li {
  position: relative;
}


tbody {
  border-top: none;
}

table.equal-columns-2-centered {

  width: 100%;
  border-spacing: 0;
  border-color: transparent;


  td {
    text-align: center;
    width: 50%;
    vertical-align: top;
  }

}

table.equal-columns-3-centered {

  width: 100%;
  border-spacing: 0;
  border-color: transparent;


  td {
    padding: 12px;
    text-align: center;
    width: 33%;
    vertical-align: top;
  }

}


.royce-pane {

}


.pane--simple {
//  @extend .royce-pane;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.pane--padded {
  padding: 1.5rem;
}

.pane--white {
  background-color: white;
}

.pane--green {
  @extend .light-on-dark;
  background-color: $brand-green;
  color: white;
  color: rgba(255,255,255,0.75);

  h2 {
    color: white;
    color: rgba(255,255,255,0.9);
  }
}

.pane--lightgrey {
//  @extend .royce-pane;
  background-color: #efefef;
}


.panel-pane {
  margin-bottom: 3rem;
}
.panel-pane:last-child {
  // margin-bottom: 0;
}

.pane-bundle-slideshow {
  margin-bottom: 0;
}

.wrapper--header .pane-bundle-image {
  margin-bottom: 0;
}







.pane-bundle-map iframe {
  width: 100%;
}




.pane--menu {

  h2 {
    margin-bottom: 1rem;
  }

  ul.menu {
    margin: 0;
    padding: 0;

    li {
      margin: 0;
      list-style: none;

      a {
        display: block;
        font-size: 18px;
        line-height: 24px;
        padding: 2px 12px 2px 0;
      }

      a.active {
        color: black;
      }

    }

  }

  li.expanded,
  li.collapsed,
  li.leaf {
    padding: 0;
    margin: 0;
  }

}







img.program-spotlight {
  width: 100% !important;
  height: auto;
}


blockquote {
  font-family: "garamond-premier-pro";
  font-size: 21px;
  color: black;
  font-style: italic;
  margin: auto auto 1.5em;
  padding: 1.5rem;
  background: #d8f3f3;
  font-family: "ff-tisa-web-pro";
  margin-left: -1.5rem;
  margin-right: -1.5rem;
  background: #f1faea;
}


.pane--menu {
  padding: 24px;
  background: #fafafa;
}

.pane-bundle-text .pane-content {
  font-family: "proxima-nova-soft";

  p {
    font-size: 18px;
  }

}




img.adaptive-image {
  width: 100%;
}




.sf-menu ul {
  min-width: 18em;
}


#panels-ipe-paneid-84 > div.panels-ipe-portlet-content > div > div > div > div.view-content > div:nth-child(5) > a

.pane-views-panes

.event-block {

}

.event-block--item {
  position: relative;
}

.event-block--item .edit-link {
  opacity: 0;
  position: absolute;
  top: 0;
  right: 75%;
  bottom: 0;
  left: 0;
  background-color: $black;
  background-color: rgba(0, 0, 0, 0.8);
  color: #FFF;
  margin: -12px;
  text-align: center;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.event-block--item:hover .edit-link {
  opacity: 1;
}

.event-block--item .edit-link a {
  color: white;
  display: table-cell;
}


.event-block--item .edit-link {
  @include scut-vcenter-ib("a");
}



/**
 * floating day number div
 */
.calendar-calendar div.day {
  padding: 0.25rem;
  width: 2rem;
}


.date-all-day-info {display:none;}


#sidr-0-button {
  background: rgba(0, 0, 0, 0);
  border: none;
  width: 48px;
  height: 48px;
  text-indent: -900em;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  outline: none;
  display: block;
  float: right;
}

#sidr-0-button:after {
  content: '';
  position: absolute;
  width: 80%;
  height: 6px;
  background: #FFF;
  top: 9px;
  left: 0;
  box-shadow: 0 12px 0 #FFF, 0 24px 0 #FFF;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}






.sidr {
  display:none;
  position:absolute;
  position:fixed;
  top:0;
  height:100%;
  z-index:999999;
  width:260px;
  overflow-x:none;
  overflow-y:auto;
  font-size: 16px;
  background:#f8f8f8;
  -webkit-box-shadow:inset 0 0 5px 5px #ebebeb;
  -moz-box-shadow:inset 0 0 5px 5px #ebebeb;
  box-shadow:inset 0 0 5px 5px #ebebeb
}

.sidr .sidr-inner {
  padding:0 0 24px
}

.sidr .sidr-inner>p {
  margin-left:24px;
  margin-right:24px
}
.sidr.right {
  left:auto;
  right:-260px
}
.sidr.left {
  left:-260px;
  right:auto
}
.sidr ul {
  display:block;
  margin:0;
  padding:0;
  border-top:none;
  border-bottom:none
}
.sidr ul li {
  display:block;
  margin:0;
  line-height:36px;
  border-top:1px solid #fff;
  border-bottom:1px solid #dfdfdf
}
.sidr ul li:hover,.sidr ul li.active,.sidr ul li.sidr-class-active {
  border-top:1px solid #fff;
//  line-height:49px
}
.sidr ul li:hover>a,.sidr ul li:hover>span,.sidr ul li.active>a,.sidr ul li.active>span,.sidr ul li.sidr-class-active>a,.sidr ul li.sidr-class-active>span {
  -webkit-box-shadow:inset 0 0 15px 3px #ebebeb;
  -moz-box-shadow:inset 0 0 15px 3px #ebebeb;
  box-shadow:inset 0 0 15px 3px #ebebeb
}
.sidr ul li a,.sidr ul li span {
  padding:0 24px;
  display:block;
  text-decoration:none;
  color:#333
}
.sidr ul li ul {
  border-bottom:none;
  margin:0
}
.sidr ul li ul li {
  line-height:40px;
  font-size:13px
}
.sidr ul li ul li:last-child {
  border-bottom:none
}
.sidr ul li ul li:hover,.sidr ul li ul li.active,.sidr ul li ul li.sidr-class-active {
  border-top:none;
  line-height:41px
}
.sidr ul li ul li:hover>a,.sidr ul li ul li:hover>span,.sidr ul li ul li.active>a,.sidr ul li ul li.active>span,.sidr ul li ul li.sidr-class-active>a,.sidr ul li ul li.sidr-class-active>span {
  -webkit-box-shadow:inset 0 0 15px 3px #ebebeb;
  -moz-box-shadow:inset 0 0 15px 3px #ebebeb;
box-shadow:inset 0 0 15px 3px #ebebeb
}
.sidr ul li ul li a,.sidr ul li ul li span {
  color:rgba(51,51,51,0.8);
  padding-left:30px
}
.sidr form {
  margin:0 15px
}
.sidr label {
  font-size:13px
}


.sidr-class-nolink, #sidr-id-menu-1861-1 {
  display: block;
  margin: 0;
  line-height: 48px;
  border-top: none;
  border-bottom: none;
  padding: 0 15px;
  display: block;
  text-decoration: none;
  color: #333;
  background-color: #ddd;
}

.sidr-class-menuparent, #sidr-id-menu-1861-1 {
  list-style: none;
}

#sidr-id-menu-1861-1 > a {
  color: #333;
}





.item-list ul {
  margin: 0;
}
.item-list ul li {
  margin: 0;
}




/**
 * Styles to render a tweet as it is shown at Twitter.com.
 *
 * Thanks @makangus.
 */
div.view-tweets ul{
  list-style-type: none;
  padding: 0px;
}

.twitter-status{
  background: #ffffff;
  color: #333333;
  padding: 12px;
  margin-bottom: 2px;
  font-size: $milli-size;
  line-height: 1em;
  line-height: 1rem;
}

.twitter-status .timestamp{
  float: right;
  color: #999999;
  font-size: $micro-size;
}

.twitter-status .name-handle{
  margin-left: 60px;
}

.twitter-status .text{
  margin-left: 60px;
}

.twitter-status .name-handle .name, .twitter-status .name-handle .handle{
  display: inline;
}

.twitter-status .name-handle .name a{
  font-weight: bold;
  margin-right: 5px;
  color: #333333;
}

.twitter-status .name-handle .handle a{
  color: #999999;
  font-size: 0.85714285714286em;
}

.twitter-status .avatar{
  float: left;
}

.twitter-status .avatar img{
  border-radius: 3px;
}

.twitter-status a {
  color: #30a9ff;
}

.twitter-status a:hover {
  text-decoration: underline;
}

.twitter-status .actions{
  text-align: right;
  font-size: 0.85714285714286em;
  padding: 0;
  margin: 0;
  visibility: hidden;
}

.twitter-status:hover .actions{
  visibility: visible;
}

.twitter-status .actions li{
  display: inline-block;
  list-style: none;
  padding: 0;
  margin: 0;
}

.twitter-status .actions a{
  display: inline-block;
  line-height: 16px;
  margin-left: 10px;
  vertical-align: top;
  color: #999999;
}




#twitter-widget-0 {
  width: 100% !important;
}



.button--simple {
  border: 1px solid;
  padding: 12px;
}


.update-image {
  -webkit-box-shadow: rgba(0, 0, 0, 0.21) 0px 0px 12px -2px;
          box-shadow: rgba(0, 0, 0, 0.21) 0px 0px 12px -2px;
  width: 100%;
}


.front .panel-pane {
  margin-bottom: 0;
}


.panels-ipe-editing .vertical-menu {
  display: none;
}

.not-front .panels-ipe-editing .wrapper--main.royce-top-content-left {
  padding-top: 7rem;
}



.calendar-calendar div.calendar {
  font-size: $milli-size;
}

.calendar-calendar .month-view .full td.single-day div.monthview, .calendar-calendar .week-view .full td.single-day div.weekview, .calendar-calendar .day-view .full td.single-day div.dayview {
  background: rgba(0, 119, 197, 0.2);
  padding: 12px;
  color: #000;
}

.calendar-calendar .month-view .full td.date-box.today {
  border-width: 0;
  background-color: #CDEBFE;
}

.calendar-calendar .month-view .full tr td.single-day.today {
  border-bottom: 0;
  background-color: #CDEBFE;
}
.calendar-calendar .month-view .full tr td.today, .calendar-calendar .month-view .full tr.odd td.today, .calendar-calendar .month-view .full tr.even td.today {
  background-color: #CDEBFE;
  border-left: 0;
  border-right: 0;
}



.timeline {
  background-color: rgba(255, 255, 255, 0.7) !important;
}




.tablefield {

  tr.even, tr.odd {
    background-color: transparent;
    border-bottom: none;
    padding: 0;
  }

  td {
    padding: 12px;
    line-height: 1.2;

    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }

  }

}

.large-table .tablefield {

  text-align: center;

  td {
    font-size: 21px;
    font-family: proxima-nova-soft;
    line-height: 1.2;
  }

}

/* Table Widget */
table.mobile-table {
  display: none;
}

/* Table Widget - Responsive */
@media only screen and (max-width: 480px) {

  table.tablefield {
    display: none;
  }

  table.mobile-table {
    display: block;
  }

  table {
    margin: 0;
    td, th {
      padding: 12px;
      text-align: center;
    }
  }

  .mobile-table {
    tbody tr:nth-child(odd) {
      background: transparent;
    }
  }

  .mobile-table tr {
    width: 50%;
  }

  .mobile-table tr.even th,
  .mobile-table tr.even {
    color: #000;
    background: transparent;
  }

  .mobile-table tr.odd th,
  .mobile-table tr.odd {
    color: #000;
    background: transparent;
  }

}



.royce-facebook, .royce-twitter {
  background-image: url(/sites/all/themes/royce/images/Facebook.svg);
  text-indent: -9999em;
  display: inline-block;
  background-repeat: no-repeat;
  height: 30px;
  width: 30px;
  background-size: 30px;
  margin: 0 12px;

  a {
    display: block;
  }

}

.royce-twitter {
  background-image: url(/sites/all/themes/royce/images/Twitter.svg);
  background-repeat: no-repeat;
  background-size: 30px;
  margin: 0;
}

.footer-social {
  text-align: center;
  margin-top: 48px;
  h2 {
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    font-size: 21px;
  }

  @include breakpoint($lapish) {
    margin-top: 0;
    h2 {
      font-size: 30px;
    }
  }

  .royce-facebook, .royce-twitter {
    height: 48px;
    width: 48px;
    background-size: 48px;

    a {
      line-height: 48px;
    }

  }

}






/**
 * Form action button styling
 */
#modal-content a.button {
  border: 1px solid #ccc;
  margin-bottom: .5em;
  margin-right: 1em;
  font: bold 12px/32px 'Open Sans', 'Lucida Sans', 'Lucida Grande',  verdana sans-serif;
  text-decoration: none;
  height: 33px;
  color: #666;
  cursor: pointer;
  outline: none;
  -moz-border-radius: 3px;
  -khtml-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: #FAFAFA;
  background-image: linear-gradient(bottom, #E9EAEC 0%, #FAFAFA 100%);
  background-image: -o-linear-gradient(bottom, #E9EAEC 0%, #FAFAFA 100%);
  background-image: -moz-linear-gradient(bottom, #E9EAEC 0%, #FAFAFA 100%);
  background-image: -webkit-linear-gradient(bottom, #E9EAEC 0%, #FAFAFA 100%);
  background-image: -ms-linear-gradient(bottom, #E9EAEC 0%, #FAFAFA 100%);
  background-image: -webkit-gradient(
  linear,
  left bottom,
  left top,
  color-stop(0, #E9EAEC),
  color-stop(1, #FAFAFA)
  );
  -webkit-box-shadow: 0 3px 3px 0 #d2d2d2;
  -moz-box-shadow: 0 3px 3px 0 #d2d2d2;
  box-shadow: 0 3px 3px 0 #d2d2d2;
  padding: 0 13px 1px;
}

#modal-content a.button:hover {
  background: #E6E6E6;
  background-image: linear-gradient(bottom, #C5C5C5 0%, #FAFAFA 100%);
  background-image: -o-linear-gradient(bottom, #C5C5C5 0%, #FAFAFA 100%);
  background-image: -moz-linear-gradient(bottom, #C5C5C5 0%, #FAFAFA 100%);
  background-image: -webkit-linear-gradient(bottom, #C5C5C5 0%, #FAFAFA 100%);
  background-image: -ms-linear-gradient(bottom, #C5C5C5 0%, #FAFAFA 100%);
  background-image: -webkit-gradient(
  linear,
  left bottom,
  left top,
  color-stop(0, #C5C5C5),
  color-stop(1, #FAFAFA)
  );
}

#modal-content a.button:active {
  outline: none;
  background-image: linear-gradient(bottom, #E9EAEC 0%, #FAFAFA 100%);
  background-image: -o-linear-gradient(bottom, #E9EAEC 0%, #FAFAFA 100%);
  background-image: -moz-linear-gradient(bottom, #E9EAEC 0%, #FAFAFA 100%);
  background-image: -webkit-linear-gradient(bottom, #E9EAEC 0%, #FAFAFA 100%);
  background-image: -ms-linear-gradient(bottom, #E9EAEC 0%, #FAFAFA 100%);
  background-image: -webkit-gradient(
  linear,
  left bottom,
  left top,
  color-stop(0, #E9EAEC),
  color-stop(1, #FAFAFA)
  );
  -webkit-box-shadow: 0 0 0 0 #fff;
  -moz-box-shadow: 0 0 0 0 #fff;
  box-shadow: 0 0 0 0 #fff;
}



body.page-admission-international {
  background-color: blue;
}
