p:last-child {
  margin-bottom: 0;
}

.wrapper--update, .wrapper--special {
  @extend %clearfix;
}

.royce-homepage__section {
  padding: 24px 0;
}

.dl-menu, .dl-submenu {

  @extend %scut-list-unstyled;

  a {
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    color: white;
    display: block;
    font-size: 18px;
    line-height: 48px;

    &:visited {
      color: white;
    }
  }

}


.royce-homepage {
  background: #ADD8E6;
}

ul.slides {
  overflow: hidden;
}

.wrapper--update {

  .field-basic-image-image {

    .panopoly-image-video {
      display: block;
      border: 6px solid #FFF;
      box-shadow: 0px 0px 48px 24px rgba(0, 0, 0, 0.05);
    }

  }

  .field-basic-image-caption {
    padding: 12px;
    background: white;
    background: rgba(255,255,255,0.8);
    font-size: 16px;
    line-height: 18px;

    @include breakpoint($phonelandscapeish) {
      background: rgba(255,255,255,0.0);
      padding-bottom: 0;
    }

    @include breakpoint($deskish) {
      padding: 12px;
      background: white;
      background: rgba(255,255,255,0.8);
    }

  }

}

.wrapper--update {

  .royce-homepage-inner {
    padding-bottom: 2rem;
  }

  @include breakpoint($deskish) {
    .royce-homepage-inner {
      padding-bottom: 0;
    }
  }

}

.wrapper--special {

  h2.pane-title {
    text-align: center;
    padding-bottom: 0;
    margin-bottom: 24px;

    @include breakpoint($lapish) {
      border-bottom: 1px solid lightgrey;
      border-bottom: 1px solid rgba(0,0,0,0.07);
      padding-bottom: 24px;
      margin-bottom: 24px;
    }

  }

}


.pane-roycemore-calendar-panel-pane-1 {

  .view-footer {

    @extend %clearfix;

    .button--simple {
      display: block;
      width: 80%;
      text-align: center;
      margin: 0 auto;

      @include breakpoint($deskwideish) {
        width: 50%;
      }

    }

  }

}
