.royce-blog {
  .l-content__header {

    .l-container {
      max-width: 90%;

      @include breakpoint($lapish) {
        max-width: 40rem;
      }
    }

    .panel-pane {
      margin-bottom: 0;
    }

    @include breakpoint($lapish) {
      // @include grid-span(12, 1, 12);
    }
  }
  .l-content__image {

    .l-container {
      max-width: 56rem;
    }

  }
  .l-content__body {

    .l-container {
      max-width: 90%;

      @include breakpoint($lapish) {
        max-width: 40rem;
      }

    }

    .field-body {
      font-size: 16px;
      @include breakpoint($lapish) {
        font-size: 18px;
      }
    }

  }
}

