// -------------------------------------
//   Site Wrappers for Regions
// -------------------------------------

.wrapper {
  @extend %clearfix;
}


// ----- Header ----- //
.wrapper--header {
  .pane-bundle-image {
    margin-bottom: 0;
  }
}

// ----- Slideshow ----- //
.wrapper--slider {}

// ----- Main #main ----- //
.wrapper--main {
  @extend %clearfix;
}
.not-front  {
  .wrapper--main {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .wrapper--main.l-top-content-left {
    padding-top: 0;
    padding-bottom: 0;
  }
}


.node-type-blog, .page-blog {
  .wrapper--main {
    padding-top: 0;
    padding-bottom: 0;
    @include breakpoint($deskish) {
      padding-top: 3rem;
      padding-bottom: 3rem;
    }
  }
}

// ----- Homepage Updates - 4 columns ----- //
.wrapper--update {
  background: #CDEBFE;
  background: rgba(205, 235, 254, 0.80);
}

// ----- Homepage Special - 3 columns ----- //
.wrapper--special {
  background: #E6F5FF;
  background: rgba(230, 245, 255, 0.75);
}

// ----- Homepage Video - 3 columns ----- //
.wrapper--video {
  background: #CDEBFE;
  background: rgba(205, 235, 254, 0.80);
}

// ----- Footer ----- //
.wrapper--footer {
  background-color: $brand-blue;
  color: white;
  .l-container {
    padding: 36px 0;
  }
}

// ----- Max Width Container ----- //
.l-container {
  @extend %clearfix;
  position: relative;
  max-width: 80%;
  margin: 0 auto;

  @include breakpoint($phonelandscapeish) {
    max-width: 90%;
  }

  @include breakpoint($deskish) {
    max-width: 60rem;
  }

  @include breakpoint($deskwideish) {
    max-width: 72em;
  }

  @include breakpoint($deskwide) {
    max-width: 74em;
  }

}

.page-blog {
  .l-container {
    max-width: 100%;
    @include breakpoint($between-landscapeish-lapish) {
      max-width: 90%;
    }
    @include breakpoint($lapish) {
      max-width: 90%;
    }
    @include breakpoint($deskish) {
      max-width: 60rem;
    }
    @include breakpoint($deskwideish) {
      max-width: 72em;
    }
    @include breakpoint($deskwide) {
      max-width: 74em;
    }
  }
}


.whelan-container {
  // @extend .l-container;
}

// ----- Max Width Slideshow Container ----- //
.pane-bundle-slideshow .l-container, .view-mode-program_spotlight .l-container {
  width: 100%;
  max-width: 100%;

  @include breakpoint($lapish) {
    max-width: 90%;
  }

  @include breakpoint($deskish) {
    max-width: 60rem;
  }

  @include breakpoint($deskwideish) {
    max-width: 72em;
  }

  @include breakpoint($deskwide) {
    max-width: 74em;
  }

}

// ----- Max Width #header ----- //
#header .l-container {
  width: 90%;
  max-width: 90%;
}

// ----- Slideshow Background ----- //
.pane-bundle-slideshow ul.slides {
  background: $brand-blue;
}
