@charset "UTF-8";
/* line 34, ../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/singularitygs-1.1.2/stylesheets/singularitygs/helpers/_box-sizing.scss */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 36, ../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/toolkit-1.3.8/stylesheets/toolkit/_box-sizing.scss */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 4, ../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/toolkit-1.3.8/stylesheets/toolkit/_fluid-media.scss */
img, video {
  max-width: 100%;
  height: auto;
}

/**
 * inuit.css will work these next ones out for use within the framework.
 *
 * Assign our `$base-line-height` to a new spacing var for more transparency.
 */
/**
 * COLOR
 */
/*
 *
.||..||..||..||..||..||..||..||..||..||..||..||..||..||..||..||..||..||..||.

    .                                      '||            .
  .||.  .... ... ... ...    ....  ... ...   ||   ....   .||.    ....
   ||    '|.  |   ||'  || .|...||  ||'  ||  ||  '' .||   ||   .|...||
   ||     '|.|    ||    | ||       ||    |  ||  .|' ||   ||   ||
   '|.'    '|     ||...'   '|...'  ||...'  .||. '|..'|'  '|.'  '|...'
        .. |      ||               ||
         ''      ''''             ''''                      VARIABLES

 .||..||..||..||..||..||..||..||..||..||..||..||..||..||..||..||..||..||..||.
 *
 */
/*!
 *
.||..||..||..||..||..||..||..||..||..||..||..||..||..||..||..||..||..||..||.

	.                                      '||            .
  .||.  .... ... ... ...    ....  ... ...   ||   ....   .||.    ....
   ||    '|.  |   ||'  || .|...||  ||'  ||  ||  '' .||   ||   .|...||
   ||     '|.|    ||    | ||       ||    |  ||  .|' ||   ||   ||
   '|.'    '|     ||...'   '|...'  ||...'  .||. '|..'|'  '|.'  '|...'
		.. |      ||               ||
		 ''      ''''             ''''      A Typographic Starter Kit

  URL ........... http://typeplate.com
  VERSION ....... 1.1.2
  Github ........ https://github.com/typeplate/typeplate.github.io
  AUTHORS ....... Dennis Gaebel (@gryghostvisuals) & Zachary Kain (@zakkain)
  LICENSE ....... Creative Commmons Attribution 3.0
  LICENSE URL ... http://creativecommons.org/licenses/by/3.0

 .||..||..||..||..||..||..||..||..||..||..||..||..||..||..||..||..||..||..||.
 *
 */
@font-face {
  font-family: "Ampersand";
  src: local("Georgia"), local("Garamond"), local("Palatino"), local("Book Antiqua");
  unicode-range: U+0026;
}

@font-face {
  font-family: "Ampersand";
  src: local("Georgia");
  unicode-range: U+270C;
}

/* line 304, ../components/typeplate/scss/_typeplate.scss */
.ampersand {
  font-family: Ampersand, Verdana, sans-serif;
}

/* line 392, ../components/typeplate/scss/_typeplate.scss */
body {
  word-wrap: break-word;
}

/* line 396, ../components/typeplate/scss/_typeplate.scss */
pre code {
  word-wrap: normal;
}

/**
 * Dropcap Sass @include
 * Use the following Sass @include with any selector you feel necessary.
 *
	@include dropcap($dropcap-float-position, $dropcap-font-size, $dropcap-font-family, $dropcap-txt-indent, $dropcap-margin, $dropcap-padding, $dropcap-color, $dropcap-line-height, $dropcap-bg);
 *
 * Extend this object into your custom stylesheet. Let the variables do the work.
 *
 */
/* line 521, ../components/typeplate/scss/_typeplate.scss */
html {
  font: normal 100%/1.5 true, "proxima-nova", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

/* line 529, ../components/typeplate/scss/_typeplate.scss */
body {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
  color: #444444;
}

/* line 540, ../components/typeplate/scss/_typeplate.scss */
small {
  font-size: 65%;
}

/* line 563, ../components/typeplate/scss/_typeplate.scss */
h1, h2, h3, h4, h5, h6 {
  text-rendering: optimizeLegibility;
  line-height: 1;
  margin-top: 0;
}

/* line 578, ../components/typeplate/scss/_typeplate.scss */
.tera {
  font-size: 72px;
  font-size: 4.5rem;
  margin-bottom: 0.33333rem;
}

/* line 578, ../components/typeplate/scss/_typeplate.scss */
.giga {
  font-size: 60px;
  font-size: 3.75rem;
  margin-bottom: 0.4rem;
}

/* line 578, ../components/typeplate/scss/_typeplate.scss */
.mega {
  font-size: 48px;
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

/* line 578, ../components/typeplate/scss/_typeplate.scss */
.alpha, h1 {
  font-size: 30px;
  font-size: 1.875rem;
  margin-bottom: 0.8rem;
}

/* line 578, ../components/typeplate/scss/_typeplate.scss */
.beta, h2 {
  font-size: 24px;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

/* line 578, ../components/typeplate/scss/_typeplate.scss */
.gamma, h3 {
  font-size: 21px;
  font-size: 1.3125rem;
  margin-bottom: 1.14286rem;
}

/* line 578, ../components/typeplate/scss/_typeplate.scss */
.delta, h4 {
  font-size: 18px;
  font-size: 1.125rem;
  margin-bottom: 1.33333rem;
}

/* line 578, ../components/typeplate/scss/_typeplate.scss */
.epsilon, h5 {
  font-size: 18px;
  font-size: 1.125rem;
  margin-bottom: 1.33333rem;
}

/* line 578, ../components/typeplate/scss/_typeplate.scss */
.zeta, h6 {
  font-size: 16px;
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

/* line 618, ../components/typeplate/scss/_typeplate.scss */
p {
  margin: auto auto 1.5em;
}

/* line 648, ../components/typeplate/scss/_typeplate.scss */
abbr,
acronym,
blockquote,
code,
dir,
kbd,
listing,
plaintext,
q,
samp,
tt,
var,
xmp {
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  -o-hyphens: none;
  hyphens: none;
}

/* line 656, ../components/typeplate/scss/_typeplate.scss */
pre code {
  white-space: -moz-pre-wrap;
  white-space: pre-wrap;
}

/* line 661, ../components/typeplate/scss/_typeplate.scss */
pre {
  white-space: pre;
}

/* line 665, ../components/typeplate/scss/_typeplate.scss */
code {
  white-space: pre;
  font-family: monospace;
}

/**
 * Abbreviations Markup
 *
	<abbr title="hyper text markup language">HMTL</abbr>
 *
 * Extend this object into your markup.
 *
 */
/* line 681, ../components/typeplate/scss/_typeplate.scss */
abbr {
  font-variant: small-caps;
  font-weight: 600;
  text-transform: lowercase;
  color: gray;
}
/* line 683, ../components/typeplate/scss/_typeplate.scss */
abbr[title]:hover {
  cursor: help;
}

/* line 697, ../components/typeplate/scss/_typeplate.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #222222;
}

/* line 707, ../components/typeplate/scss/_typeplate.scss */
p + .drop-cap {
  text-indent: 0;
  margin-top: 0;
}

/* line 423, ../components/typeplate/scss/_typeplate.scss */
.drop-cap:first-letter {
  float: left;
  margin: inherit;
  padding: inherit;
  font-size: 4em;
  font-family: inherit;
  line-height: 1;
  text-indent: 0;
  background: transparent;
  color: inherit;
}

/**
 * Lining Definition Style Markup
 *
	<dl class="lining">
		<dt><b></b></dt>
		<dd></dd>
	</dl>
 *
 * Extend this object into your markup.
 *
 */
/* line 462, ../components/typeplate/scss/_typeplate.scss */
.lining dt,
.lining dd {
  display: inline;
  margin: 0;
}
/* line 469, ../components/typeplate/scss/_typeplate.scss */
.lining dt + dt:before,
.lining dd + dt:before {
  content: "\A";
  white-space: pre;
}
/* line 477, ../components/typeplate/scss/_typeplate.scss */
.lining dd + dd:before {
  content: ", ";
}
/* line 481, ../components/typeplate/scss/_typeplate.scss */
.lining dd:before {
  content: ": ";
  margin-left: -0.2rem;
}

/**
 * Dictionary Definition Style Markup
 *
	<dl class="dictionary-style">
		<dt><b></b></dt>
			<dd></dd>
	</dl>
 *
 * Extend this object into your markup.
 *
 */
/* line 489, ../components/typeplate/scss/_typeplate.scss */
.dictionary-style dt {
  display: inline;
  counter-reset: definitions;
}
/* line 493, ../components/typeplate/scss/_typeplate.scss */
.dictionary-style dt + dt:before {
  content: ", ";
  margin-left: -0.2rem;
}
/* line 499, ../components/typeplate/scss/_typeplate.scss */
.dictionary-style dd {
  display: block;
  counter-increment: definitions;
}
/* line 502, ../components/typeplate/scss/_typeplate.scss */
.dictionary-style dd:before {
  content: counter(definitions,decimal) ". ";
}

/**
 * Blockquote Markup
 *
		<figure>
			<blockquote cite="">
				<p></p>
			</blockquote>
			<figcaption>
				<cite>
					<small><a href=""></a></small>
				</cite>
			</figcaption>
		</figure>
 *
 * Extend this object into your markup.
 *
 */
/**
 * Pull Quotes Markup
 *
	<aside class="pull-quote">
		<blockquote>
			<p></p>
		</blockquote>
	</aside>
 *
 * Extend this object into your custom stylesheet.
 *
 */
/* line 791, ../components/typeplate/scss/_typeplate.scss */
.pull-quote {
  position: relative;
  padding: 1em;
}
/* line 364, ../components/typeplate/scss/_typeplate.scss */
.pull-quote:before, .pull-quote:after {
  height: 1em;
  opacity: 0.5;
  position: absolute;
  font-size: 4em;
  color: #dc976e;
}
/* line 371, ../components/typeplate/scss/_typeplate.scss */
.pull-quote:before {
  content: '“';
  top: 0;
  left: 0;
}
/* line 376, ../components/typeplate/scss/_typeplate.scss */
.pull-quote:after {
  content: '”';
  bottom: 0;
  right: 0;
}

/**
 * Figures Markup
 *
	<figure>
		<figcaption>
			<strong>Fig. 4.2 | </strong>Type Anatomy, an excerpt from Mark Boulton's book<cite title="http://designingfortheweb.co.uk/book/part3/part3_chapter11.php">"Designing for the Web"</cite>
		</figcaption>
	</figure>
 *
 * Extend this object into your markup.
 *
 */
/**
 * Footnote Markup : Replace 'X' with your unique number for each footnote
 *
	<article>
		<p><sup><a href="#fn-itemX" id="fn-returnX"></a></sup></p>
		<footer>
			<ol class="foot-notes">
				<li id="fn-itemX"><a href="#fn-returnX">↩</a></li>
			</ol>
		</footer>
	</article>
 *
 * Extend this object into your markup.
 *
 */
/* line 8, ../sass/partials/global/_extendables.scss */
.clearfix {
  *zoom: 1;
}
/* line 14, ../sass/partials/global/_extendables.scss */
.clearfix:before, .clearfix:after {
  display: table;
  content: "";
}
/* line 19, ../sass/partials/global/_extendables.scss */
.clearfix:after {
  clear: both;
}

/* line 27, ../sass/partials/global/_extendables.scss */
.light-on-dark a {
  color: white;
  text-decoration: underline;
}
/* line 32, ../sass/partials/global/_extendables.scss */
.light-on-dark a:hover, .light-on-dark a:focus {
  color: white;
}
/* line 36, ../sass/partials/global/_extendables.scss */
.light-on-dark a:visited {
  color: white;
}
/* line 42, ../sass/partials/global/_extendables.scss */
.light-on-dark h1, .light-on-dark h2, .light-on-dark h3, .light-on-dark h4, .light-on-dark h5, .light-on-dark h6 {
  color: white;
}

/* line 42, ../sass/partials/global/_base.scss */
body {
  opacity: 1;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
  background: #FFF;
  margin: 0;
}
/* line 36, ../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/toolkit-1.3.8/stylesheets/toolkit/_fonts.scss */
.wf-loading body {
  opacity: 0;
}

/* line 49, ../sass/partials/global/_base.scss */
a {
  color: #0284db;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* line 55, ../sass/partials/global/_base.scss */
a:hover, a:focus {
  color: #0266a8;
}
/* line 59, ../sass/partials/global/_base.scss */
a:visited {
  color: #0284db;
}

/* line 69, ../sass/partials/global/_base.scss */
ul {
  padding-left: 24px;
}

/* line 75, ../sass/partials/global/_base.scss */
li > ul,
li > ol {
  margin-bottom: 0;
}

/* line 81, ../sass/partials/global/_base.scss */
.burr {
  max-width: 74em;
  margin: 0 auto;
}

/* line 85, ../sass/partials/global/_base.scss */
.burr-sidebar-inner {
  margin-right: 48px;
  background-color: #efefef;
}

/* line 91, ../sass/partials/global/_base.scss */
.wrapper--seconditems {
  background: lightblue;
}

/* line 95, ../sass/partials/global/_base.scss */
.royce-homepage-section {
  max-width: 74em;
  margin: 0 auto;
}

/* line 100, ../sass/partials/global/_base.scss */
.panels-ipe-editing .panels-ipe-region {
  float: none;
}

/* line 105, ../sass/partials/global/_base.scss */
.pane-bundle-spotlight .panopoly-spotlight-wrapper {
  left: 8%;
  bottom: 30px;
}

/* line 110, ../sass/partials/global/_base.scss */
.pane-bundle-spotlight .panopoly-spotlight-info {
  padding: .5em;
  background-color: #79C142;
  opacity: .95;
}

/* line 116, ../sass/partials/global/_base.scss */
.field-name-field-map-address iframe {
  width: 100%;
}

/* line 120, ../sass/partials/global/_base.scss */
.royce-homepage__map {
  max-width: 100%;
}

/* line 6, ../sass/partials/global/_typography.scss */
.pane-bundle-text .pane-content {
  font-family: "proxima-nova-soft";
}
/* line 9, ../sass/partials/global/_typography.scss */
.pane-bundle-text .pane-content p {
  font-size: 18px;
}
